__pycache__
.DS_Store
.mypy
.ruff
.vscode
[Dd]esktop.ini
*.lnk
*.pyc
/bin
/lib
/pyvenv.cfg
$RECYCLE.BIN/
pythonenv*
Thumbs.db
pytest.xml

# Environments
.coverage
.env
.tox
.venv
*.pyc
coverage.xml
custom_components/*/__pycache__/
env.bak/
env/
ENV/
venv.bak/
venv/
