aiohttp
beautifulsoup4
coverage
homeassistant
homeassistant-stubs
mypy
PyJWT
pytest
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component
pytest-timeout
pytest-xdist
ruff
types-cffi
types-PyMySQL
types-pyRFC3339
types-python-dateutil
types-PyYAML
types-requests
types-setuptools
